*{
	margin:0;
	padding:0;
}
html{
	font-size:62.5%;
}

$bdGrey:#666;
$bgBlue:#00abe4;
$bgRed:#d23333;

.main-body{
	width:1000px;
	margin:auto;
	article{
		h1{
			font-size:2rem;
			margin:20px auto;
		}
		display:block;
		width:100%;
		margin:50px auto 0;
		padding-bottom:50px;
		border-bottom:1px dashed $bdGrey;
		.square{
			width:100px;
			height:100px;
			background-color:$bgBlue;
		}
		.rectangle{
			width:200px;
			height:100px;
			background-color:$bgBlue;
		}
		.triangle-topleft{
			width:0;
			height:0;
			border-top:100px solid $bgBlue;
			border-right:100px solid transparent;
		}
		.triangle-topright{
			width:0;
			height:0;
			border-top:100px solid $bgBlue;
			border-left:100px solid transparent;
		}
		.triangle-diy{
			width:0;
			height:0;
			border-bottom:100px solid $bgBlue;
			border-left:50px solid transparent;
			border-right:50px solid transparent;
		}
		.parallelogram{
			width:200px;
			height:100px;
			-webkit-transform:skew(30deg,5deg);
			background-color:$bgBlue;
		}
		.trapezoid{
			border-bottom:100px solid $bgBlue;
			border-left:50px solid transparent;
			border-right:50px solid transparent;
			height:0;
			width:100px;
		}
		.star-six{
			width:0;
			height:0;
			border-left:50px solid transparent;
			border-right:50px solid transparent;
			border-bottom:100px solid $bgBlue;
			position:relative;
			&:after{
				width:0;
				height:0;
				border-left:50px solid transparent;
				border-right:50px solid transparent;
				border-top:100px solid $bgBlue;
				position:absolute;
				content:"";
				top:(100px)/3;
				left:-50px;
			}
		}
		.star-five{
			positive:relative;
			margin:50px 0;
			width:0;
			height:0;
			border-bottom:70px solid $bgBlue;
			border-left:100px solid transparent;
			border-right:100px solid transparent;
			-webkit-transform: rotate(35deg);
			-o-transform: rotate(35deg);
			-moz-transform: rotate(35deg);
			-ms-transform: rotate(35deg);
			transform: rotate(35deg);
			&:before{
				position:absolute;
				width:0;
				height:0;
				top:-45px;
				left:-65px;
				border-bottom:80px solid $bgBlue;
				border-left:30px solid transparent;
				border-right:30px solid transparent;
				-webkit-transform: rotate(-35deg);
				-o-transform: rotate(-35deg);
				-moz-transform: rotate(-35deg);
				-ms-transform: rotate(-35deg);
				transform: rotate(-35deg);
				content:"";
			}
			&:after{
				position:absolute;
				width:0;
				height:0;
				top:3px;
				left:-105px;
				border-bottom:70px solid $bgBlue;
				border-left:100px solid transparent;
				border-right:100px solid transparent;
				-webkit-transform: rotate(-70deg);
				-o-transform: rotate(-70deg);
				-moz-transform: rotate(-70deg);
				-ms-transform: rotate(-70deg);
				transform: rotate(-70deg);
				content:"";
			}
		}
		.heart{
			position:relative;
			width:100px;
			height:90px;
			&:before,
			&:after{
				position:absolute;
				content:"";

				left:50px;
				top:0;
				width:50px;
				height:80px;
				background:$bgRed;
				border-radius:50px 50px 0 0;
				-webkit-transform:rotate(-45deg);
				-moz-transform:rotate(-45deg);
				-o-transform:rotate(-45deg);
				-ms-transform:rotate(-45deg);
				-webkit-transform:rotate(-45deg);
				-moz-transform-origin:0 100%;
				-o-transform-origin:0 100%;
				-ms-transform-origin:0 100%;
				transform-origin:0 100%;
			}
			&:after{
				left:0;
				-webkit-transform:rotate(45deg);
				-moz-transform:rotate(45deg);
				-o-transform:rotate(45deg);
				-ms-transform:rotate(45deg);
				-webkit-transform:rotate(45deg);
				-moz-transform-origin:100% 100%;
				-o-transform-origin:100% 100%;
				-ms-transform-origin:100% 100%;
				transform-origin:100% 100%;
			}
		}
	}
}
.ph{
	width:200px;
	height:40px;
	line-height:40px;
	font-size:20px;
	margin:50px 0;
	padding:0 10px;
	color:$bgRed;
	&::-webkit-input-placeholder{
		color:$bgBlue;
	}
}
