<% g_css = ['animate'] %>
<% g_title = "CSS3 动画"%>
<% g_keywords = "key" %>
<% g_description = "descript" %>
<% include ./include/header.html %>
	<body>
		<div class="main-body">
			<article>
				<h2>CSS3渐变效果</h2>
				<h3>线性渐变</h3>
				<div class="linear-gradients"></div>
				<h3>径向渐变</h3>
				<div class="radial-gradients"></div>
			</article>
			<article>
				<h2>CSS3 2D转换</h2>
				<h3>translate() 方法</h3>
				<div class="translate"></div>
				<h3>rotate() 方法</h3>
				<div class="rotate"></div>
				<h3>scale() 方法</h3>
				<div class="scale"></div>
				<h3>skew() 方法</h3>
				<div class="skew"></div>
				<h3>matrix() 方法</h3>
				<div class="matrix"></div>
			</article>
			<article>
				<h2>Transition</h2>
				<div class="transition">
					<p>Transition</p>
				</div>
				<h2>多项改变</h2>
				<div class="mutil-transition">
					<p>mutil-transition</p>
				</div>
				<h2>@keyframe</h2>
				<div class="keyframe">
					<p>@keyframe</p>
				</div>
			</article>
			<article>
				<h2>Column</h2>
				<div class="column">
					<h3>菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程(www.runoob.com)提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python，Java，Ruby，C，PHP , MySQL等各种编程语言的基础知识。 同时本站中也提供了大量的在线实例，通过实例，您可以更好的学习编程。</h3>
					菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程(www.runoob.com)提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python，Java，Ruby，C，PHP , MySQL等各种编程语言的基础知识。 同时本站中也提供了大量的在线实例，通过实例，您可以更好的学习编程。
				</div>
			</article>
			<article>
				<h2>Flex</h2>
				<div class="flex-container1">
					<div class="flex-item">item1</div>
					<div class="flex-item">item2</div>
					<div class="flex-item">item3</div>
				</div>
				<div class="flex-container2"></div>
			</article>
		</div>
	</body>
<% include ./include/footer.html %>