<% g_css = ['font','about'] %>
	<% g_title = "首页"%>
		<% g_keywords = "key" %>
			<% g_description = "descript" %>
				<% include ./include/header.html %>
					<h1 class="font-area">
						<a href="./contact">contact</a>
						<a href="./about">about</a>
						<a href="./animate">animate</a>
						<a href="./loading">loading</a>
						<a href="./shape">shape</a>
						<a href="./test">test1</a>
						Halo Sora
						<% for(var i=0;i<10; i++){%>
							<h2 class="blue"><%= i%>Sora</h2>
						<%}%>
					</h1>

					<div class="font-area polaris">
						<p class="title">polaris</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					<div class="font-area edelsans">
						<p class="title">edelsans</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					<div class="font-area libre">
						<p class="title">libre</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					<div class="font-area rambla">
						<p class="title">rambla</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					<div class="font-area riesling">
						<p class="title">riesling</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					<div class="font-area drugs2">
						<p class="title">drugs2</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					<div class="font-area nordica">
						<p class="title">nordica</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					<div class="font-area RBNo2Light">
						<p class="title">RBNo2Light</p>
						<div class="letter">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</div>
						<p>1 2 3 4 5 6 7 8 9</p>
					</div>
					</body>
					<% include ./include/footer.html %>
