<% g_css = ['loading'] %>
<% g_title = "首页"%>
<% g_keywords = "key" %>
<% g_description = "descript" %>
<% include ./include/header.html %>
	<body>
		<div class="load">
			<div class="type1">
				<div class="p1 point"></div>
				<div class="p2 point"></div>
				<div class="p3 point"></div>
				<div class="p4 point"></div>
				<div class="p5 point"></div>
				<div class="p6 point"></div>
				<div class="p7 point"></div>
				<div class="p8 point"></div>
				<div class="p9 point"></div>
				<div class="p10 point"></div>
				<div class="p11 point"></div>
				<div class="p12 point"></div>
			</div>
		</div>
		
	</body>
<% include ./include/footer.html %>