<% g_css = ['shape'] %>
<% g_title = "CSS3 形状"%>
<% g_keywords = "key" %>
<% g_description = "descript" %>
<% include ./include/header.html %>
	<body>
		<div class="main-body">
			<article>
				<h1>正方形</h1>
				<div class="square"></div>
			</article>
			<article>
				<h1>长方形</h1>
				<div class="rectangle"></div>
			</article>
			<article>
				<h1>左上三角形</h1>
				<div class="triangle-topleft"></div>
			</article>
			<article>
				<h1>右上三角形</h1>
				<div class="triangle-topright"></div>
			</article>
			<article>
				<h1>自定义三角形</h1>
				<div class="triangle-diy"></div>
			</article>
			<article>
				<h1>平行四边形</h1>
				<div class="parallelogram"></div>
			</article>
			<article>
				<h1>梯形</h1>
				<div class="trapezoid"></div>
			</article>
			<article>
				<h1>六角星</h1>
				<div class="star-six"></div>
			</article>
			<article>
				<h1>五角星</h1>
				<div class="star-five"></div>
			</article>
			<input type="text" name="test" class="ph" placeholder="Halo">
			<article>
				<h1>爱心</h1>
				<div class="heart"></div>
			</article>
		</div>
	</body>
<% include ./include/footer.html %>