<html>
	<head>
		<title><%= g_title%></title>

		<meta name="keywords" content="<%= g_keywords%>" />
		<meta name="description" content="<%= g_description%>" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="UTF-8" />
		<link rel="shortcut icon" type="image/x-icon" href="./img/common/icon/fav/favicon.ico">
		<link rel="icon" type="image/x-icon" href="./img/common/icon/fav/favicon.ico">
		<link rel="shortcut" type="image/x-icon" href="./img/common/icon/fav/favicon.ico">
		<link rel="stylesheet" href="./css/base.css" />
		<link rel="stylesheet" href="./css/common.css" />
		<% for(var i=0; i<g_css.length; i++){%>
		<link rel="stylesheet" href="./css/<%= g_css[i]%>.css" />
		<%}%>
	</head>

	<body>
		<div class="header">
			<a href="/"><img src="./img/common/Zara-logo.png" class="logo"></a>
			<input type="text" name="search">
			<nav>
				<a href="#">Men</a>
				<a href="#">Women</a>
				<a href="#">Kids</a>
			</nav>
		</div>
		<p class="my-cart">5 items</p>
