<html>
	<head>
		<title><%= g_title%></title>

		<meta name="keywords" content="<%= g_keywords%>" />
		<meta name="description" content="<%= g_description%>" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="shortcut icon" type="image/x-icon" href="./img/common/icon/fav/favicon.ico">
		<link rel="icon" type="image/x-icon" href="./img/common/icon/fav/favicon.ico">
		<link rel="shortcut" type="image/x-icon" href="./img/common/icon/fav/favicon.ico">
		<link rel="stylesheet" href="./css/base.css" />
		<link rel="stylesheet" href="./css/common.css" />
		<% for(var i=0; i<g_css.length; i++){%>
		<link rel="stylesheet" href="./css/<%= g_css[i]%>.css" />
		<%}%>
	</head>

	<body>
		<div class="header">
			<a href="/"><img src="./img/common/logo.png" class="logo" alt="MyLogo"></a>
			<nav>
				<div class="nav-item" href="./zara">
					<a href="./zara">zara</a>
					<div class="nav-list">
						<a href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
					</div>
				</div>
				<div class="nav-item">
					<a href="./animate">animate</a>
				</div>
				<div class="nav-item">
					<a href="./loading">loading</a>
				</div>
				<div class="nav-item">
					<a href="./shape">shape</a>
				</div>
				<div class="nav-item">
					<a href="./font">font</a>
				</div>
			</nav>
		</div>
